/* variables */
:root {
    /* fonts */
    --roboto: "Roboto", sans-serif;

    /* colors */
    --accent: #fd0200;
    --dark: #2b2c27;
    --light-gray: #f4f4f4;
}

::selection {
    background-color: var(--accent);
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}
::-webkit-scrollbar-thumb:active {
    background: var(--accent);
}
::-webkit-scrollbar-track {
    background: #e2e2e2;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #e2e2e2;
}
::-webkit-scrollbar-track:active {
    background: #e2e2e2;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

a:focus,
input:focus,
label:focus,
button:focus,
textarea:focus,
:focus {
    outline: none;
}

img {
    max-width: 100%;
}

b {
    font-weight: bolder;
}

p {
    line-height: 1.2;
}

body {
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    background-color: #fff;
    color: var(--dark);
}

.header-row {
    display: flex;
    justify-content: space-between;

    color: #8e8e8e;

    padding-top: 15px;
    padding-bottom: 11px;

    border-bottom: 2px solid #f4f4f4;
}

.header-link {
    color: inherit;
    font-weight: normal;
}

.header-link:hover {
    color: inherit
}

.header-location-city {
    margin-right: 26px;
    padding-left: 20px;
    background-image: url(../images/pin-gray.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-top {
    background-color: #fff;
}

.header-top-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-top-item:not(:last-child) {
    margin-right: 22px;
}

.header-top-link {
    font-weight: 300;
    color: inherit
}

.header-top-link:hover {
    color: inherit;
}

.header-main {
    padding-top: 22px;
    padding-bottom: 20px;

    background-color: #fff;

    position: relative;
}

.header-search {
    display: none;
}

.header-cats-inner {
    background-color: var(--accent);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;

    font-weight: normal;
    font-size: 18px;

    position: relative;
}

.header-cats-list {
    display: flex;
    margin: 0;
    padding: 0 117px 0 26px;
    list-style-type: none;
    flex: 0 0 100%;
    max-width: 100%;
}

.header-cats-item {
    color: #fff;
}

.header-cats-item:not(:last-child) {
    margin-right: 27px;
}

.header-cats-link {
    display: flex;
    padding: 16px 0 17px;

    color: inherit;
}

.header-cats-link:hover {
    color: inherit
}

.header-cats-more {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    max-width: 117px;

    padding: 16px 30px 16px 26px;
    background-color: var(--dark);
    color: #fff;

    display: flex;
    align-items: center;
    border-radius: 15px;

    cursor: pointer;
}

.header-cats-more-img {
    margin-right: 12px
}

.header-main-search {
    display: flex;
    padding-top: 3px;
}

.header-main-search-input {
    width: 100%;
    border: 2px solid #e2e2e2;
    border-radius: 15px;
    height: 50px;

    padding-left: 59px;

    font-size: 18px;
    font-weight: normal;

    color: var(--dark);

    background-image: url(../images/search-red.svg);
    background-repeat: no-repeat;
    background-position: 18px 13px;
}

.header-main-search-input::placeholder {
    color: -var(--dark);
}

.header-main-right {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.header-socials {
    display: flex;
    justify-content: space-between;

    flex: 0 0 152px;
    max-width: 152px;
}

.header-cart {
    flex: 0 0 193px;
    max-width: 193px;

    display: flex;
    justify-content: flex-end;

    font-size: 18px;
    font-weight: normal;
}

.header-cart-icon {
    position: relative;
    flex: 0 0 26px;
    max-width: 26px;
    height: 24px;

    margin-right: 18px;
}

.header-cart-inner {
    min-width: 126px;

    display: flex;

    color: inherit;
    text-decoration: none;
}

.header-cart-inner:hover {
    color: inherit;
    text-decoration: none;
}

.header-burger {
    display: none;
    position: relative;
}

.burger-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;

    background-color: var(--accent);
    border-radius: 3px;

    transition: ease all 300ms;
}

.line-1 {
    top: 3px;
}

.line-2 {
    top: 12px;
}

.line-3 {
    top: 21px;
}

.state-menu .line-1 {
    top: 45%;
    transform: rotate(135deg)
}

.state-menu .line-2 {
    left: 50%;
    right: 50%;
}

.state-menu .line-3 {
    top: 45%;
    transform: rotate(-135deg)
}

.cart-items {
    display: none;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: -5px;
    right: -8px;

    font-size: 12px;
    font-weight: bold;

    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;

    box-shadow: 0 0 15px 0 rgba(0,0,0, .15);
}

.cart-has-items .cart-items {
    display: flex;
}

.header-cart-total span {
    font-size: 80%;
}

.slider-home {
    margin-top: 50px;
    opacity: 0;

    transition: ease all 500ms;
}

.slider-home-init {
    border-radius: 33px;
}

.slider-home-slide {
    position: relative;

    padding-bottom: 37.415%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.slider-home-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.slider-home-title {
    font-size: 48px;
    font-weight: bold;
}

.slider-home-desc {
    font-size: 31px;
    font-weight: 300;
}

.slide-index-1 .slider-home-label {
    margin-left: 32.4vw;
    margin-top: 5.9vw;
    color: #fff;
}

.slide-index-2 .slider-home-label {
    margin-left: 32.4vw;
    margin-top: 4.5vw;
    color: #ec008c;
}


.slider-home-control {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.slider-home-nav {
    margin-left: 30px;
    margin-right: 30px;
}

.slider-home-nav .swiper-pagination-bullet,
.slider-home-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.slider-home-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.slider-home-nav .swiper-pagination-bullet {
    background-color: #b6b6b6;
    position: relative;

    transition: ease all 300ms;
    opacity: 1;
}

.slider-home-nav .swiper-pagination-bullet::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%)
}

.slider-home-nav .swiper-pagination-bullet-active,
.slider-home-btn {
    background-color: var(--accent);
}

.slider-home-nav .swiper-pagination-bullet:not(:last-child) {
    margin-right: 20px;
}

.slider-home-btn:focus {
    outline: none;
}

.slider-home-button {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    padding: 12px 43px;
    background-color: #fff;
    color: #487bbe;
    font-size: 24px;
    font-weight: normal;

    border-radius: 15px;

    opacity: 1;

    transition: ease all 200ms;
}

.slider-home-button:hover {
    text-decoration: none;
    color: #487bbe;

    opacity: 0.75;
}

.top-cats {
    margin-top: 93px;
}

.top-cats-item {
    display: flex;
    padding-bottom: 64%;

    background-position: center 68%;
    background-repeat: no-repeat;

    margin-bottom: 30px;

    color: inherit;
    text-decoration: none;

    border-radius: 30px;
}

.top-cats-item:hover {
    color: inherit;
}

.top-cats-name {
    position: absolute;
    padding: 24px 30px;

    font-size: 20px;
    font-weight: normal;
}

.top-cat-index-1 {
    background-color: #f0edf7;
}

.top-cat-index-2 {
    background-color: #e6f3ea;
}

.top-cat-index-3 {
    background-color: #fff8d4;
}

.top-cat-index-4 {
    background-color: #fbe5ff;
}

.top-cat-index-5 {
    background-color: #e8fdff;
}

.top-cat-index-6 {
    background-color: #e8e9ff;
}

.section-heading {
    font-size: 36px;
    font-weight: bold;

    line-height: 1.35;
}

.section-week {
    margin-top: 108px;
}

.product-photo {
    display: block;
    padding-bottom: 72%;
    background-position: center center;
    /* background-size: 90%; */
    background-repeat: no-repeat;
    margin-bottom: 30px;

    color: inherit;
    text-decoration: none;
}

.product-photo:hover {
    text-decoration: none;  
    color: inherit;
}

.product-name {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;

    max-height: 48px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* white-space: nowrap; */

    --padding-name: 26px;
    padding-left: var(--padding-name);
    padding-right: var(--padding-name);
}

.product-info {
    display: block;
    text-align: center;
    height: 69px;

    color: inherit;
    text-decoration: none;
}

.product-info:hover {
    text-decoration: none;
    color: inherit;
}

.product-cat {
    font-size: 14px;
    font-weight: 300;
    color: #8e8e8e;
}

.product-body {
    padding: 20px 0;
    /* background-color: #fff; */
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #f4f4f4;
    position: relative;
    z-index: 4;
    transition: ease box-shadow 300ms;
}

.product-body:hover {
    padding-bottom: 0;

    box-shadow: 0 0 30px 0 rgba(0,0,0, .15);
    border-color: transparent;
    border-bottom-width: 0;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 6;
}

.product-discount {
    position: absolute;
    top: 27px;
    left: 28px;
    background-color: var(--accent);
    color: #fff;
    padding: 3px 10px 1px;
    font-size: 18px;
    font-weight: 600;

    border-radius: 15px;

    -webkit-user-select: none;
    user-select: none;
}

.row-week {
    margin-top: 76px;
}

.product-prices {
    margin-top: 13px;
    margin-bottom: -3px;
    background-color: #fff;
    position: relative;
    z-index: 4;
}

.oldprice {
    font-size: 18px;
    font-weight: normal;
    margin-right: 22px;

    position: relative;
}

.oldprice::before {
    position: absolute;
    content: '';
    top: 47%;
    left: 0;
    right: 0;
    
    height: 2px;
    background-color: var(--accent);

    transform: rotate(6deg);
}

.newprice {
    font-size: 24px;
    font-weight: bold;

    color: var(--accent);
}

.oldprice > span,
.newprice > span {
    font-size: 80%;
}

.component-prices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-actions {
    align-items: center;
    display: flex;
    justify-content: center;

    opacity: 0;

    position: absolute;
    top: 100%;
    left: -3px;
    right: -3px;

    height: 0;

    background-color: #fff;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    overflow: hidden;

    transition: ease height 300ms;

    box-shadow: 0 0 30px 0 rgba(0,0,0, .15);

    z-index: 3;
}

.product-counter {
    flex: 0 0 145px;
    max-width: 145px;
}

.product-tocart {
    flex: 0 0 60px;
    max-width: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.component-counter {
    display: flex;
    height: 50px;

    border: 3px solid #e8e8e8;
    border-radius: 30px;
}

.component-counter-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;

    font-size: 24px;
    font-weight: bold;
    text-align: center;

    padding: 0;

    height: 100%;

    line-height: 45px;

    border: none;

    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
}

.component-counter-value {
    cursor: default;
}

.product-body:hover .product-actions {
    height: 99px;
    opacity: 1;
}

.row-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 50px;
}

.btn-left {
    display: flex;
    justify-content: flex-end;
}

.btn-right {
    display: flex;
    justify-content: flex-start;
}

.button-default {
    border: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: normal;

    color: #fff;
    background-color: var(--accent);

    padding-top: 18px;
    padding-bottom: 15px;

    padding-left: 50px;
    padding-right: 50px;

    border-radius: 35px;

    opacity: 1;
    transition: ease all 300ms;

    text-align: center;
}

.button-default:hover {
    text-decoration: none;
    color: #fff;

    opacity: 0.75;
}

.section-btns .button-default:not(:last-child) {
    margin-right: 30px;
}

.button-gray {
    background-color: #f4f4f4;
    color: var(--dark);
}

.button-gray:hover {
    opacity: 1;
    background-color: var(--accent);
    color: #fff;
}

.section-stocks-events {
    margin-top: 140px;
}

.stocks-events-item {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    margin-bottom: 30px;

    border-radius: 30px;

    position: relative;
}

.shortstory {
    position: relative;
}

.shortstory::before {
    position: absolute;
    content: '';
    bottom: 31px;
    right: 24px;
    width: 30px;
    height: 30px;

    background-image: url(../images/arrow-right-gray.svg);
    background-repeat: no-repeat;
    background-position: center center;

    transition: ease all 300ms;
}

.stocks-events-photo {
    border-radius: 30px;
    padding-bottom: 34.8%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.stocks-events-photo {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);

    border-radius: 30px;
}

.stocks-events-body {
    flex: 0 0 calc(50% + 15px);
    max-width: calc(50% + 15px);

    padding: 33px 30px;
}

.row-stocks-events {
    margin-top: 45px;
}

.row-stocks-events .section-heading {
    margin-bottom: 45px;
}

.stocks-events-name {
    font-size: 20px;
    font-weight: normal;

    margin-bottom: 15px;
}

.stocks-events-desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}

.section-shop {
    margin-top: 169px;
}

.shop-heading {
    margin-top: -7px;
    line-height: 1.19;
    margin-bottom: 40px;
}

.col-shop p {
    text-indent: 15px;
    font-size: 18px;
    margin-bottom: 26px;

    letter-spacing: .08px;
}

.section-btns {
    display: flex;

    margin-top: 30px;
}

.section-reviews-faq {
    margin-top: 192px;
}

.section-reviews-faq .section-heading {
    margin-bottom: 45px;
}

.reviews-faq-item {
    padding: 23px 30px;
    background-color: #f4f4f4;
    border-radius: 30px;
    margin-bottom: 30px;
}

.reviews-faq-item:last-child {
    margin-bottom: 0;
}

.review-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-faq-title {
    font-size: 20px;
    font-weight: normal;
}

.reviews-faq-text {
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 0;
    line-height: 1.2;
}

.review-footer {
    margin-top: 41px;
    margin-bottom: 7px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.review-footer-logo {
    margin-right: 21px;
}

.review-footer-link {
    padding-top: 3px;
    color: inherit
}

.review-footer-link:hover {
    color: inherit;
}

.review-rate {
    display: flex;
    margin-left: 17px;

    flex: 0 0 100px;
    max-width: 100px;
}

.review-head-col {
    display: flex;
    align-items: center;
}

.rate-star {
    flex: 0 0 15px;
    max-width: 15px;
    height: 15px;

    margin-right: 5px;

    background-image: url(../images/rate-star.svg);
}

.faq-item {
    cursor: pointer;
}

.faq-item::before {
    bottom: auto;
    top: 24px;
    right: 30px;

    transform: rotate(90deg);
}

.faq-active::before {
    transform: rotate(-90deg);
}

.faq-ask {
    display: none;
}

.faq-active .faq-ask {
    display: block;
}

.reviews-faq-inner {
    height: 100%;
    position: relative;
}

.btns-middle {
    justify-content: center;
}

.btns-middle .button-default:not(:last-child) {
    margin-right: 15px;
}

.btns-abs {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 100%;
}

.col-reviews-faq {
    position: relative;
}

.section-consult {
    padding-top: 280px;
    padding-bottom: 226px;

    background-image: url(../images/consult-bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: contain;
}

.section-subheading {
    margin-top: 21px;
}

.form-common {
    margin-top: 46px;
}

.form-common-style {
    display: block;
    padding: 15px 28px 12px;
    border: 3px solid #e8e8e8;
    border-radius: 30px;

    width: 100%;

    font-family: inherit;
    font-size: 18px;
    font-weight: 300;

    resize: none;

    transition: ease all 100ms;
}

.col-form-common {
    margin-bottom: 30px;
}

textarea.form-common-style {
    height: 120px;
    margin-bottom: 0;
}

.form-common-style:focus {
    border-color: var(--accent);
}

.form-footer {
    /* margin-top: 23px; */

    display: flex;
    flex-wrap: wrap;
}

.form-common-agree {
    line-height: 1.2;

    padding-left: 34px;
    padding-top: 13px;
}

.form-common-agree a {
    color: inherit;
    text-decoration: underline;
}

.form-common-agree a:hover {
    color: inherit;
    text-decoration: none;
}

.footer {
    position: relative;

    background-color: #e0e0e0;
}

.footer::before {
    position: absolute;
    content: '';
    top: -95px;
    left: 0;
    right: 0;

    height: 95px;

    background-image: url(../images/footer-top-shape.png);
    background-position: center center;
    background-repeat: repeat-x;
}

.footer-inner {
    padding-top: 84px;
    padding-bottom: 40px;
}

.row-footer {
    margin-top: 46px;
    line-height: 1.2;
}

.footer-contacts {
    margin-top: 13px;
    margin-bottom: 42px;
}

.footer-contacts a {
    color: inherit;
}

.footer-contacts a:hover {
    color: inherit
}

.footer-payments {
    margin-top: 37px;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-list-item {
    margin-bottom: 15px;
}

.footer-list-link {
    color: inherit;
    font-size: 18px;
}

.footer-list-link:hover {
    color: inherit
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0, .5);

    z-index: 4;
}

.page-content {
    margin-top: 15px;
    margin-bottom: 2px;
}

.page-bc {
    display: flex;
    flex-wrap: wrap;

    margin: 0 0 16px;
    padding: 0;
    list-style-type: none;
}

.page-bc-item {
    position: relative;
}

.page-bc-item:not(:last-child) {
    padding-right: 39px;
}

.page-bc-item:not(:last-child)::before {
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    left: calc(100% - 23px);
    width: 10px;
    height: 10px;
    background-image: url(../images/bc-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.page-bc-item:last-child .page-bc-link {
    pointer-events: none;
}

.page-bc-link {
    color: #4d4d4d;
    text-decoration: none;
}

.page-bc-link:hover {
    color: #4d4d4d;
}

.row-cats-block {
    margin-top: 46px;
}

.page-cats-block {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 30px;

    box-shadow: 0 0 0 0 rgba(0,0,0, 0);

    transition: ease all 300ms;
    min-height: 300px;
    margin-bottom: 30px;
}

.page-cats-block.hover,
.page-cats-block:hover {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0, .15);
}

.page-cats-block.hover .page-cats-li::before,
.page-cats-block:hover .page-cats-li::before {
    filter: grayscale(0%);
}

.page-cats-block::before {
    background-image: url(../images/arrow-right-red.svg);
    filter: grayscale(100%);
    opacity: 0.2;
    bottom: 27px;
}

.page-cats-block.hover::before,
.page-cats-block:hover::before {
    opacity: 1;
    filter: grayscale(0%)
}

.page-cats-body {
    padding-top: 23px;
}

.page-cats-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-cats-li {
    position: relative;
    padding-left: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-cats-li::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;

    background-image: url(../images/cat-list-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;

    filter: grayscale(100%)
}

.page-cats-link {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.6
}

.page-cats-link:hover {
    color: var(--dark);
}

.page-cats-head {
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    -webkit-user-select: none;

    color: inherit;
    text-decoration: none;
}

.page-cats-head:hover {
    color: inherit;
    text-decoration: none;
}

.page-cats-more {
    display: table;
    color: #999999;
    font-size: 18px;
    font-weight: normal;

    padding: 28px 10px 0;

    transition: ease all 300ms;
}

.page-cats-block:hover .page-cats-more,
.page-cats-block.hover .page-cats-more {
    color: var(--accent)
}

.empty-cats {
    min-height: auto;
    padding-top: 28px;
    padding-bottom: 28px;
}

.empty-cats::before {
    bottom: 24px;
}

.section-seo {
    margin-top: 161px;
}

.seo-heading {
    margin-bottom: 44px;
}

.section-seo p {
    text-indent: 14px;
    line-height: 1.2;
    font-size: 18px;

    margin-bottom: 1.55em;
}

.row-categories {
    margin-top: 46px;
}

.category-item {
    display: flex;

    padding: 31px 30px 27px;
    border-radius: 30px;

    background-color: #f4f4f4;

    margin-bottom: 30px;

    color: var(--dark);
    text-decoration: none;

    box-shadow: 0 0 0 0 rgba(0,0,0, 0);

    transition: ease all 300ms;
}

.category-item::before {
    width: 17px;
    height: 17px;
    bottom: 28px;
    right: 16px;
    background-size: contain;
}

.category-item.selected,
.category-item:hover {
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0, .15);
}

.category-item.selected::before,
.category-item:hover::before {
    background-image: url(../images/arrow-right-red.svg);
}

.category-item:hover {
    text-decoration: none;
    color: var(--dark);
}

.col-category {
    flex: 0 0 25%;
    max-width: 25%;

    padding-left: 15px;
    padding-right: 15px;
}

.category-name {
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
}

.catalog-side,
.catalog-content {
    padding-left: 15px;
    padding-right: 15px;
}

.catalog-side {
    flex: 0 0 375px;
    max-width: 375px;
}

.catalog-content {
    flex: 0 0 calc(100% - 375px);
    max-width: calc(100% - 375px);
}

.irs--round .irs-handle {
    top: 29px;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 15px 0 rgba(0,0,0, .1);
}

.irs--round .irs-handle.state_hover, .irs--round .irs-handle,
.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
    background-color: var(--accent);
    border-color: #fff;
    border-width: 2px;

    cursor: pointer;
}

.irs--round .irs-line,
.irs--round .irs-bar {
    height: 11px;
}

.irs--round .irs-bar {
    background-color: var(--accent);
}

.irs--round .irs-line {
    background-color: #e2e2e2;
}

.irs--round {
    margin-top: -6px;
    /* margin-bottom: 48px; */
}

.irs--round .irs-line, .irs--round .irs-bar {
    height: 10px;
}

.row-catalog {
    margin-top: 18px;
}

.catalog-filter {
    background-color: #f4f4f4;
    padding: 23px 30px;
    border-radius: 30px;
}

.filter-name {
    font-size: 20px;
    font-weight: normal;

    margin-bottom: 12px;
}

.filter-range {
    display: flex;
    justify-content: space-between;

    margin-top: 16px;

    margin-bottom: -17px;
    position: relative;

    z-index: 5;
}

.filter-range-item {
    border: 2px solid #e2e2e2;
    max-width: 100px;

    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 20px;
}

.filter-list {
    margin: 0 0 7px 0;
    padding: 0;

    list-style-type: none;

    max-height: 145px;

    overflow-y: auto;
}

.filter-list-label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    margin: 0;
}

.filter-check {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.filter-check:checked + .filter-list-value {
    color: var(--accent);
    background-color: transparent;
}

.filter-check:checked ~ .filter-list-count {
    background-color: var(--accent);
    color: #fff;
}

.filter-list-value {
    font-size: 18px;
    font-weight: normal;

    line-height: 1.65;
}

.filter-item:not(:last-child) {
    margin-bottom: 44px;
}

.filter-list-count {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;

    border-radius: 10px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 1px;

    background-color: #e2e2e2;
}

.filter-list-more {
    color: #a2a2a2;
}

.filter-list-more:hover {
    color: var(--accent)
}

.row-catalog-list .product-item {
    margin-bottom: 30px;
}

.catalog-sort-block {
    font-size: 18px;
    font-weight: normal;

    padding: 15px 8px;
    margin-bottom: 11px;
}

.catalog-sort-by {
    margin-left: 36px;
    color: #a2a2a2;
}

.catalog-sort-by:hover,
.catalog-sort-by.active {
    color: inherit;
}

.catalog-show-more {
    display: flex;
    justify-content: center;
}

.section-history {
    margin-top: 90px;
    margin-bottom: 142px;
}

.section-history .product-item {
    transition: ease all 150ms;
    opacity: 0.5;
}

.section-history .row-btns {
    display: none;
}

.section-history .product-item:hover {
    opacity: 1;
}

.row-history {
    margin-top: 45px;
}

.section-stocks-catalog {
    margin-top: 32px;
}

.section-stocks-catalog .section-heading {
    margin-bottom: 45px;
}

.seo-catalog {
    margin-top: 111px;
}

.reviews-faq-catalog {
    margin-top: 142px;
}

.consult-catalog {
    padding-top: 222px;
}

.show-filter {
    display: none;
}

.go-top {
    position: fixed;
    z-index: 8;
    display: flex;

    bottom: 50px;
    right: 15px;

    cursor: pointer;

    transition: all .15s ease-out;
}

.go-top span {
    padding: 8px 12px;
    background-color: var(--accent);
    border-radius: 20px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;

    overflow: hidden;

    position: relative;
    z-index: 1;
}

/* .go-top.clicked span:before {
    content: attr(data-go);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
} */

.go-top::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;

    top: -8px;

    left: calc(50% - 7px);

    background-color: var(--accent);

    transform: rotate(-45deg);

    z-index: 2;
}

.go-top::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;

    background-color: #fff;
    border: 3px solid var(--accent);

    transform: rotate(-45deg);

    top: -15px;
    left: calc(50% - 14px);

    z-index: 1;
}

.go-top:not(.show) {
    animation: fadeOut .15s ease-out 0s 1 alternate forwards;
}

/* .go-top:not(.show) span {
    color: var(--accent);
} */

.go-top.show {
    animation: fadeIn .15s ease-in 0s 1 alternate both;
}

@keyframes fadeIn {
    0% { opacity: 0; display: none; }
    100% { display: block; opacity: 1;}
}

@keyframes fadeOut {
    0% { display: block; opacity: 1;}
    100% { opacity: 0; display: none; }
}


.detail-slider-flex {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
}

.detail-slider,
.detail-slider-thumbs {
    padding-left: 15px;
    padding-right: 15px;
}

.detail-slider-thumbs {
    flex: 0 0 125px;
    max-width: 125px;
    height: 100%;
}

.detail-slider {
    flex: 0 0 calc(100% - 125px);
    max-width: calc(100% - 125px);
    height: 100%;
}

.detail-slider-thumbs .swiper-slide {
    border: 2px solid #e5e5e5;
    border-radius: 30px;

    background-size: 75%;

    cursor: pointer;
}

.detail-slider-thumbs .swiper-slide-active {
    border-color: var(--accent)
}

.detail-slider-thumbs,
.detail-slider {
    height: 470px;
}

.detail-slider .swiper-slide,
.detail-slider-thumbs .swiper-slide {
    background-repeat: no-repeat;
    background-position: center center;
}

.detail-slider-thumbs::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;

    background-image: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 1) 100%);
    z-index: 4;
}


.col-detail-slider {
    flex: 0 0 calc(100% - 500px);
    max-width: calc(100% - 500px);

    padding-left: 15px;
    padding-right: 15px;
}

.col-detail-info {
    flex: 0 0 500px;
    max-width: 500px;

    padding-left: 15px;
    padding-right: 15px;

    position: relative;
}

.detail-section {
    margin-top: 46px;
}

.detail-side {
    margin-top: -80px;
}

.detail-rate {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 30px 30px 26px;

    font-size: 16px;
    font-weight: normal;
}

.detail-rate-stars {
    display: flex;
    justify-content: center;
    flex: 0 0 100px;
    max-width: 100px;

    margin-right: 15px;
}

.detail-rate-star {
    filter: grayscale(100%);
}

.rated {
    filter: grayscale(0%)
}

.detail-info {
    border: 3px solid #f4f4f4;
    border-radius: 30px;

    overflow: hidden;
}

.detail-info-row {
    padding: 33px 25px;
}

.detail-info-top {
    background-color: #f4f4f4;
}

.detail-info-head {
    display: flex;
    justify-content: space-between;
}

.detail-price {
    align-items: flex-end;
}

.detail-price .newprice {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-right: 21px;

    color: var(--dark)
}

.detail-price .oldprice {
    line-height: 1;
}

.detail-info-discount {
    padding: 2px 12px 0;
    background-color: var(--accent);
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    border-radius: 20px;
}

.detail-avail {
    margin-top: 23px;
    margin-bottom: 22px;
    padding-left: 26px;
    background-image: url(../images/detail-check.svg);
    background-repeat: no-repeat;
    background-position: 2px 6px;
}

.detail-info-footer {
    display: flex;
    justify-content: space-between;
}

.detail-counter {
    flex: 0 0 147px;
    max-width: 147px;
}

.detail-counter {
    overflow: hidden;
}

.detail-counter .component-counter-item {
    background-color: #fff;
}

.detail-tocart {
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;

    flex: 0 0 238px;
    max-width: 238px;

    font-size: 20px;

    background-image: url(../images/detail-cart.svg);
    background-repeat: no-repeat;
    background-position: 48px 14px;
}

.detail-tocart span {
    margin-left: 42px;
}

.detail-info-bottom {
    padding-top: 15px;
    padding-bottom: 28px;
}

.detail-info-city,
.detail-info-deli {
    color: #8e8e8e;
}

.detail-info-city {
    padding: 2px 0 0px 21px;
    background-image: url(../images/detail-map-pin.svg);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    font-size: 16px;
    font-weight: normal;
}

.detail-info-deli {
    padding: 2px 3px 0px 21px;
    background-image: url(../images/detail-i-info.svg);
    background-repeat: no-repeat;
    background-position: 9px 6px;

    font-size: 16px;
    font-weight: normal;
}

.detail-info-list {
    margin-top: 26px;
    margin-left: 2px;
}

.detail-info-list-item {
    margin-bottom: 20px;

    display: flex;
}

.detail-info-list-item:last-child {
    margin-bottom: 0;
}

.detail-info-list-icon {
    flex: 0 0 50px;
    max-width: 50px;
}

.detail-info-list-item-name {
    font-size: 18px;
    line-height: 1.4
}

.detail-info-list-item-desc {
    font-weight: normal;
    font-size: 16px;
}

.detail-info-list-body {
    padding-left: 20px;
}

.detail-descs {
    margin-top: 100px;
    margin-bottom: 140px;
}

.detail-descs-content {
    font-weight: normal;
    font-size: 16px;

    margin-top: 23px;
}

.detail-descs-list {
    margin: 0;
    padding: 9px 0;
    list-style-type: none;
}

.detail-descs-list li {
    padding-left: 17px;
    margin-bottom: 6px;
    position: relative;
}

.detail-descs-list li::before {
    position: absolute;
    content: '';
    top: 11px;
    left: 0;
    width: 10px;
    height: 1px;

    background-color: var(--dark);
}

.detail-props-list {
    margin-top: 21px;
}

.detail-props-row {
    display: flex;
}

.detail-props-row:nth-of-type(odd) {
    background-color: #f4f4f4;
    border-radius: 30px;
}

.detail-props-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 8px 15px;
}

.detail-props-item:first-child {
    padding-left: 19px;
    color: #676767;
}

.detail-review {
    margin-top: 90px;
}

.detail-review .section-heading {
    margin-bottom: 15px;
}

.detail-review p {
    font-weight: normal;
}

.detail-review-leave {
    display: table;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
}

.detail-review-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

.detail-review-list .review-footer {
    margin-top: 29px;
}

.review-reply {
    margin-top: 15px;
    margin-bottom: 3px;
}

.row-reviews-btns {
    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
}

.review-leave {
    margin-top: 100px;
}

.col-review-rate,
.col-review-label {
    padding-left: 15px;
    padding-right: 15px;
}

.col-review-rate {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-review-label {
    flex: 0 0 37.5%;
    max-width: 37.5%;
}

.col-review-rate > span {
    font-size: 15px;
    line-height: 1;
    display: block;
    margin-bottom: 5px;
}

.review-leave .form-footer {
    margin-top: 0;
}

.leave-rate {
    display: flex;
    justify-content: space-between;
    max-width: 190px;
}

.leave-rate-item {
    flex: 0 0 30px;
    max-width: 30px;
    height: 30px;

    background-image: url(../images/leave-rate.svg);
    background-repeat: no-repeat;
    background-position: center center;

    filter: grayscale(100%);

    cursor: pointer;
}

.leave-rate-item.selected {
    filter: grayscale(0%)
}

.consult-detail {
    padding-top: 151px;
}

.section-news {
    margin-top: 38px;
}

.news-list-body {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;

    background-color: #f4f4f4;

    text-decoration: none;
    color: inherit;
}

.news-list-body:hover {
    text-decoration: none;
    color: inherit
}

.news-list-photo {
    padding-bottom: 72.5%;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    border-radius: 30px;
}

.news-list-content {
    padding: 23px 30px 28px;
}

.news-list-content-name {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}

.news-list-content-desc {
    font-size: 16px;
    font-weight: 300;

    line-height: 1.2
}

.consult-news {
    padding-top: 232px;
}

.row-news-detail {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    border-radius: 30px;
    background-color: #f4f4f4;
}

.news-detail-col {
    flex: 0 0 50%;
    max-width: 50%;
}

.news-detail-col-photo {
    padding-right: 15px;
}

.news-detail-col-content {
    padding-left: 15px;
    padding-right: 15px;
}

.news-detail-photo {
    padding-bottom: 72.5%;
    background-size: cover;
    background-position: center center;

    border-radius: 30px;
}

.news-detail-content {
    padding: 48px 0px;

    line-height: 1.25;
}

.news-detail-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
}

.news-detail-text {
    font-size: 16px;
    font-weight: 300;

    line-height: 1.2;
}

.section-reviews {
    margin-top: -14px;
    margin-bottom: 192px;
}

.reviews-faq-for {
    margin-top: 15px;
    margin-bottom: 47px;
    color: #8e8e8e;
}

.reviews-faq-for-link {
    font-weight: normal;
    color: inherit;
}

.reviews-faq-for-link:hover {
    color: inherit
}

.leave-review-form {
    margin-top: 100px;
}

.col-stick {
    position: relative;
    padding-top: 35px;
}

.review-stats {
    position: sticky;
    left: 0;
    top: 0;
    padding-top: 15px;
}

.row-reviews-flex {
    align-items: stretch;
}

.review-stats-inner {
    border: 3px solid #f4f4f4;
    border-radius: 30px;
    overflow: hidden;

    text-align: center;
}

.review-stats-head {
    background-color: #f4f4f4;
    padding: 25px;
}

.review-stats-body {
    padding: 47px 25px;
    font-weight: normal;
    line-height: 1.2;
}

.review-stats-button {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.rate-stats-list {
    display: flex;
    justify-content: center;
}

.rate-stats-item {
    flex: 0 0 30px;
    max-width: 30px;

    margin-right: 10px;

    height: 30px;

    background-image: url(../images/rate-star.svg);
    background-size: contain;

    filter: grayscale(100%)
}

.rate-stats-item:last-child {
    margin-right: 0;
}

.rate-stats-item.active {
    filter: grayscale(0%)
}

.rate-stats-info {
    font-size: 16px;
    font-weight: 300;
    margin-top: 17px;
}